body {
  background-color: rgb(24, 25, 20);
  color: rgb(228, 230,235)
}

.App {
   text-align: center; 
}

ul {
   list-style: none; padding: 0; margin: 0; 
}

li {
   margin-bottom: 10px; 
}

input {
   margin-right: 10px;
}

button {
  padding: 5px 10px;
   margin-left: 5px;
}

button img {
   width: 20px;
}

